/memoria.org
/test/kmeans.cancerR.data
/test/seq.cancerR.data
/test/kmeans.datos_procesados.data
/test/kmeans.datos_procesados.npy
/test/kmeans.irisR.data
/test/kmeans.pimaIndians.data
/test/kmeans.wineR.data
/test/seq.datos_procesados.npy
/test/seq.irisR.data
/test/seq.pimaIndians.data
/test/seq.wineR.data
/memoria.pdf
/memoria.tex
/README.md.old
